/* app.component.css */

.logo {
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .content {
    padding: 100px 20px 40px; /* offset for fixed toolbar */
    background-color: #11479852;
    min-height: 80vh;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #11479852;
    color: #444;
  }
  